@using MindCabinet.Client.Components.SiteFunctions;
@using MindCabinet.Client.Components.Application.Editors;
@using MindCabinet.Client.Components.Application.Pickers;
@using MindCabinet.Client.Components;


@inherits LayoutComponentBase;


@* No headers here; server-prerender (MindCabinet\Components\App.razor) gives this to us without delay. *@


<div class="page">
    @this.Body      @* Routed page is rendered here. *@
    <RenderPortalRegion Region="ModalDialogs" />
</div>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
