@using Microsoft.AspNetCore.Components;
@using MindCabinet.Client.Components.Application.RichEditors;
@using MindCabinet.Client.Components.Application;
@using MindCabinet.Client.Components.Application.Editors;
@using MindCabinet.Client.Components.Application.Pickers;
@using MindCabinet.Client.Components.Application.Renders;
@using MindCabinet.Client.Components.Standard;
@using MindCabinet.Client.Components.Standard.Tabs;
@using MindCabinet.Client.Services;
@using MindCabinet.Shared.DataObjects;


<div component-name="@nameof(MainPanel)" class=@this.AddedClasses>
    <Tabs>
        <TabEntry>
            <Header>
                <h4>Posts</h4>
            </Header>
            <Content>
                @if( this.MySessionMngr.UserName is not null ) {
                    <CurrentPostsRichEditor />
                } else {
                    <span>...</span>
                }
            </Content>
        </TabEntry>
        <TabEntry>
            <Header>
                <h4>Tags</h4>
            </Header>
            <Content>
                @if( this.MySessionMngr.UserName is not null ) {
                    <TermsRichEditor />
                } else {
                    <span>...</span>
                }
            </Content>
        </TabEntry>
    </Tabs>
</div>



