@using MindCabinet.Client.Components.Application.Editors;
@using MindCabinet.Client.Components.Application.Pickers;
@using MindCabinet.Client.Components.SiteFunctions;
@using MindCabinet.Client.Services.DbAccess
@using MindCabinet.Shared.DataObjects.PostsContext


@if( this.SessionData.UserId is not null ) {
    <PostsContextPicker
        UniqueName="Sidebar_PostsContextPicker"
        Contexts=@this.Contexts_Cache
        CurrentContext=@this.SessionData.GetCurrentContext()
        OnContextSelect_Async=@this.OnContextSelect_UI_Async />
    <hr />
    <PostsContextEditor
        InitialContext=@this.SessionData.GetCurrentContext()
        OnUpdate_Async=@this.OnContextCreateOrUpdate_UI_Async
        OnEntryEdit_Async=@this.OnContextEntryEdit_UI_Async />
} else {
    <span>...</span>
}


@code {
    private async Task OnContextSelect_UI_Async( PostsContextObject context ) {
        await this.SessionData.SetCurrentContext_Await( this.UserAppData, context );
        
        if( this.OnStateChange_Async is not null ) {
            await this.OnStateChange_Async.Invoke();
        }

        this.StateHasChanged();
    }


    private async Task OnContextCreateOrUpdate_UI_Async( PostsContextObject.Raw context ) {
        this.StateHasChanged();

        if( this.OnStateChange_Async is not null ) {
            await this.OnStateChange_Async.Invoke();
        }
    }

    private async Task OnContextEntryEdit_UI_Async( PostsContextTermEntryObject.Raw changedEntry, bool isAdded ) {
await Task.CompletedTask;
        //this.StateHasChanged();
        //
        //if( this.OnStateChange_Async is not null ) {
        //    await this.OnStateChange_Async.Invoke();
        //}
    }
}
