@using MindCabinet.Client.Components.Application.Editors;
@using MindCabinet.Client.Components.Application.Pickers;
@using MindCabinet.Client.Components.SiteFunctions;
@using MindCabinet.Client.Services.DbAccess
@using MindCabinet.Shared.DataObjects.PostsContext


@if( this.MySessionMngr.UserId is not null ) {
    <CurrentPostsContextPicker
        Description="Select the current 'context'"
        InitialSearchOptionsCache=@this.Contexts_Cache
        InitialSelectedSearchOption=@this.MySessionMngr.GetCurrentContext()
        OnContextPicked_Async=@this.OnContextSelect_UI_Async />
    <hr />
    <PostsContextEditor
        @ref=@this.PostsContextEditorComponent
        InitialContext=@this.MySessionMngr.GetCurrentContext()
        OnUpdate_Async=@this.OnContextCreateOrUpdate_UI_Async
        OnEntryEdit_Async=@this.OnContextEntryEdit_UI_Async />
} else {
    <span>...</span>
}


@code {
    private async Task OnContextSelect_UI_Async( PostsContextObject context ) {
        await this.SetContext_Async( context );

        this.StateHasChanged();
    }


    private async Task OnContextCreateOrUpdate_UI_Async( PostsContextObject.Raw context ) {
        this.StateHasChanged();

        if( this.OnStateChange_Async is not null ) {
            await this.OnStateChange_Async.Invoke();
        }
    }

    private async Task OnContextEntryEdit_UI_Async( PostsContextTermEntryObject changedEntry, bool isAdded ) {
await Task.CompletedTask;
        //this.StateHasChanged();
        //
        //if( this.OnStateChange_Async is not null ) {
        //    await this.OnStateChange_Async.Invoke();
        //}
    }
}
