@using MindCabinet.Client.Components.Standard;
@using MindCabinet.Client.Components.Application.Renders;
@using MindCabinet.Client.Components.Application.Pickers;
@using MindCabinet.Client.Services;
@using MindCabinet.Shared.DataObjects;
@using MindCabinet.Shared.DataObjects.PostsContext;
@using MindCabinet.Shared.DataObjects.Term;



<div component-name="PostsContextPicker"
        class="basic @(this.Disabled ? "disabled" : null) @(this.AddedClasses ?? "")">
    <input type="text"
            disabled=@this.Disabled
            title=@this.Description
            @onfocusin=@(e => this.IsSeachFocused = true)
            @onfocusout=@(e => this.IsSeachFocused = false)
            @onkeydown=@this.OnInputKey_UI_Async
            @bind:event="oninput"
            @bind:get=@this.Value
            @bind:set=@this.OnInputSearch_UI_Async />
    <div>
        <div style="position: absolute; display: inline-block;">
            @* @if( (this.IsSeachFocused || (this.SearchResultsElement?.HasFocus ?? false)) && this.SearchOptions.Count() > 0 ) { *@
            @if( this.SearchOptions.Count() > 0 ) {
                <MultiPostsContextRender
                        Contexts=@this.SearchOptions
                        OnClick_Async=@(async (t, _) => await this.SelectSearchResults_UI_Async(t)) />
            }
       </div>
    </div>
</div>



@code {
    public void Reset_UI() {
        this.Value = "";
        this.SearchOptions = new List<PostsContextObject>();
    }


    private async Task OnInputKey_UI_Async( KeyboardEventArgs arg ) {
        if( this.Disabled ) {
            return;
        }
        if( !this.IsSeachFocused ) {
            return;
        }

        // switch( arg.Key ) {
        // case "ArrowUp":
        //     this.SearchPosition = Math.Max( this.SearchPosition - 1, 0 );
        //     break;
        // case "ArrowDown":
        //     this.SearchPosition = Math.Min( this.SearchPosition + 1, this.SearchOptions.Count() - 1 );
        //     break;
        // }
        
        //if( arg.Code == "Enter" || arg.Code == "NumpadEnter" ) {
        //    await this.BeginSubmitNewTerm_Async( this.Value );
        //
        //    return;
        //}

        //Console.WriteLine("key input: "+(int)arg.Key[0]+", value: "+this.Value );
        //todo arrow key search results navigation
    }

    
    private async Task OnInputSearch_UI_Async( string inputText ) {
        if( this.Disabled ) {
            return;
        }
        
        if( string.IsNullOrEmpty(inputText) ) {
            this.SearchOptions = new List<PostsContextObject>();
            // this.SearchPosition = 0;
            this.Value = "";

            return;
        }

        this.Value = inputText;

        await this.TrySearchContext_Async( inputText );
    }
}