@using MindCabinet.Client.Components.Application.Renders;
@using MindCabinet.Client.Services;
@using MindCabinet.Shared.DataObjects;
@using MindCabinet.Shared.DataObjects.Term;
@using System.Threading.Tasks



<div component-name="@nameof(TermSearch)"
        class="basic @(this.Disabled ? "disabled" : null) @(this.AddedClasses ?? "")">
    <input type="text"
            disabled=@this.Disabled
            @bind:event="oninput"
            @bind:get=@this.Value
            @bind:set=@this.OnInputSearch_UI_Async />
            @*
            @onfocusin=@(e => this.IsSeachFocused = true)
            @onfocusout=@(e => this.IsSeachFocused = false)
            *@
    <div>
        <div style="position: absolute; display: inline-block;">
            @* @if( (this.IsSeachFocused || (this.SearchResultsElement?.HasFocus ?? false)) && this.SearchOptions.Count() > 0 ) { *@
            @if( this.SearchOptions.Count() > 0 ) {
                <MultiTermRender
                        @ref=this.SearchResultsElement
                        Terms=@this.SearchOptions
                        VerboseTermDisplay=@this.VerboseTermDisplay
                        OnClick_Async=@(async (t, _) => await this.SelectSearchResults_UI_Async(t)) />
            }
       </div>
    </div>
    @if( this.FavoriteTerms_Cache.Count() > 0 ) {
        <div>
            <label>Favorite Terms:</label>
            <MultiTermRender
                    Terms=@this.FavoriteTerms_Cache.Select( e => e.FavTerm )
                    VerboseTermDisplay=@this.VerboseTermDisplay
                    OnClick_Async=@(async (t, _) => await this.SelectSearchResults_UI_Async(t)) />
        </div>
    }
    @if( this.RecentTerms_Cache.Count() > 0 ) {
        <div>
            <label>Recent Terms:</label>
            <MultiTermRender
                    Terms=@this.RecentTerms_Cache.Select( e => e.Term )
                    VerboseTermDisplay=@this.VerboseTermDisplay
                    OnClick_Async=@(async (t, _) => await this.SelectSearchResults_UI_Async(t)) />
        </div>
    }
</div>


@code {
    private async Task OnInputSearch_UI_Async( string? termText ) {
        if( this.Disabled ) {
            return;
        }

        this.Value = termText ?? string.Empty;

        if( string.IsNullOrEmpty(termText) ) {
            this.SearchOptions = new List<TermObject>();
        } else {
            await this.SearchTerms_Async( termText );
        }
    }

    private async Task SelectSearchResults_UI_Async( TermObject term ) {
        if( this.Disabled ) {
            return;
        }

        await this.SelectSearchResults_Async( term );
    }
}
