@using Microsoft.AspNetCore.Components;
@using MindCabinet.Client.Components.Standard;



<Modal @ref=this.ModalElement
        ModalId=@this.MyModalId
        Title="Create new user"
        AddedClasses=@this.AddedClasses
        AddedStyles=@this.AddedStyles>
    <HeaderContent>
        @* <h4 class="modal-title">Login as user</h4> *@
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </HeaderContent>
    <BodyContent>
        <input type="text"
                title="User name:"
                @bind:event="oninput"
                @bind:get=@this.UserName
                @bind:set=@this.OnInputUserName_UI_Async />
        <br />
        <input type="text"
                title="Email:"
                @bind:event="oninput"
                @bind:get=@this.Email
                @bind:set=@this.OnInputEmail_UI_Async />
        <br />
        <input type="text"
                title="Password:"
                @bind:event="oninput"
                @bind:get=@this.PasswordFiltered
                @bind:set=@this.OnInputPassword_UI_Async />
                @* @bind:set=this.OnInputPassword_UI_Async /> *@
        <br />
        <div>@( this.GetSubmitStatuses( this.GetSubmitStatusCode() ).FirstOrDefault() ?? " " )</div>
        <button disabled=@(this.GetSubmitStatusCode() == 0 ? false : true) @onclick=@this.Submit_UI_Async>Submit</button>
    </BodyContent>
</Modal>



@code {
    public string PasswordFiltered => new string(c: '*', count: this.Password.Length);



    public RenderFragment GenerateDialogOpener() {
        return this.ModalElement.GenerateDialogOpener( buttonLabel: "Sign Up" );
    }



    public string GetClasses() {
        string classes = "modal";
        if( this.AddedClasses is not null ) {
            classes += " " + this.AddedClasses;
        }
        return classes;
    }

    private async Task OnInputUserName_UI_Async( string val ) {
        this.UserName = val;
    }

    private async Task OnInputEmail_UI_Async( string val ) {
        this.Email = val;
    }

    private async Task OnInputPassword_UI_Async( string val ) {
        this.Password = val;
    }
}
