@using Microsoft.AspNetCore.Components;
@using MindCabinet.Client.Components.Standard;



<RenderPortal TargetRegion="ModalDialogs">
    @* @key=@this.Id
        PassRef=@this.GetModalElementRef *@
    <Modal @ref=this.ModalDialogComponent
            ModalId=@this.MyModalId
            Title="Login as user"
            AddedClasses=@this.AddedClasses
            AddedStyles=@this.AddedStyles>
        <HeaderContent>
            @* <h4 class="modal-title">Login as user</h4> *@
        </HeaderContent>
        <BodyContent>
            <input type="text"
                    title="Enter user name"
                    placeholder="User name"
                    @onkeydown=@this.OnInputKey_UI_Async
                    @bind:event="oninput"
                    @bind:get=@this.UserName
                    @bind:set=@this.OnInputUserName_UI_Async />
            <br />
            <input type="password"
                    title="Enter password"
                    placeholder="Password"
                    @onkeydown=@this.OnInputKey_UI_Async
                    @bind:event="oninput"
                    @bind:get=@this.Password
                    @bind:set=@this.OnInputPassword_UI_Async />
                    @* @this.PasswordFiltered *@
            <br />
            <button disabled=@this.SubmitDisabled @onclick=@this.Submit_UI_Async>Submit</button>
        </BodyContent>
        <FooterContent>
            @this.LoginStatus
        </FooterContent>
    </Modal>
</RenderPortal>



@code {
    // public string PasswordFiltered => new string(c: '*', count: this.Password.Length);

    public bool SubmitDisabled => !this.CanSubmit();



    public RenderFragment? GenerateDialogOpener() {
        return this.ModalDialogComponent?.GenerateDialogOpener( buttonLabel: "Login" );
    }

    private async Task OnInputKey_UI_Async( KeyboardEventArgs arg ) {
        if( arg.Code == "Enter" || arg.Code == "NumpadEnter" ) {
            if( this.CanSubmit() ) {
                await this.Submit_UI_Async();
            }

            return;
        }
    }

    private async Task OnInputUserName_UI_Async( string? val ) {
        bool hasChanged = this.UserName != val;

        this.UserName = val ?? "";

        if( hasChanged ) {
            this.StateHasChanged();
        }
    }

    private async Task OnInputPassword_UI_Async( string? val ) {
        bool hasChanged = this.Password != val;
        
        this.Password = val ?? "";

        if( hasChanged ) {
            this.StateHasChanged();
        }
    }


    private async Task<bool> Submit_UI_Async() {
        (bool success, this.LoginStatus) = await this.Submit_Async( this.UserName, this.Password );

        if( success ) {
            this.UserName = "";
            this.Password = "";
        }

        this.ModalDialogComponent?.Close();

        return success;
    }
}
