main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(128, 128, 128) 0%, #bebebe 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}



/*a {
    color: #21D4FD;
    transition: all 0.3s;
}

    a:hover {
        color: #B721FF;
    }*/

/*
.tab-container {
    overflow-x: hidden; // so we could easily hide the radio inputs //
    margin: 32px 0;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
}

    .tab-container [type="radio"] {
        // hiding the inputs //
        display: none;
    }

.tab-button-container {
    display: flex;
    align-items: stretch;
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #ccc;
}

.tab-button > label {
    display: block;
    margin-bottom: -1px;
    padding: 12px 15px;
    border: 1px solid #ccc;
    background: #eee;
    color: #666;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s;
}

.tab-button:hover label {
    border-top-color: #333;
    color: #333;
}

.tab-content {
    display: none;
    color: #777;
}

// As we cannot replace the numbers with variables or calls to element properties, the number of this selector parts is our tab count limit //
.tab-container [type="radio"]:nth-of-type(1):checked ~ .tab-button-container .tab-button:nth-of-type(1) label,
.tab-container [type="radio"]:nth-of-type(2):checked ~ .tab-button-container .tab-button:nth-of-type(2) label,
.tab-container [type="radio"]:nth-of-type(3):checked ~ .tab-button-container .tab-button:nth-of-type(3) label,
.tab-container [type="radio"]:nth-of-type(4):checked ~ .tab-button-container .tab-button:nth-of-type(4) label,
.tab-container [type="radio"]:nth-of-type(5):checked ~ .tab-button-container .tab-button:nth-of-type(5) label {
    border-bottom-color: #fff;
    border-top-color: #B721FF;
    background: #fff;
    color: #222;
}

.tab-container [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tab-container [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tab-container [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tab-container [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4) {
    display: block;
}*/
