@page "/";


@using MindCabinet.Client.Components.Layout;
@using MindCabinet.Client.Components.SiteFunctions;
@using MindCabinet.Client.Components.Application;
@using MindCabinet.Shared.DataObjects;



<PageTitle>Home</PageTitle>


@* <HeadContent>
    <link rel="stylesheet" href="lib/components/standard/tabs/css/tabs.css" />
    <link rel="stylesheet" href="lib/components/standard/toggle-switch/css/toggle-switch.css" />
</HeadContent> *@


<div class="sidebar">
    @if( this.NetMode.IsClientSide ) {
        <Sidebar />
    } else {
        <h3 style="color:white;">Loading...</h3>
    }
</div>

<main>
    <div class="top-row px-4">
        <a href="/">Home</a>
        <a href="about">About</a>
        <div class="vr"></div>
        
        @if( this.SessionData.IsLoaded ) {
            @if( this.SessionData.UserName is not null ) {
                <a @onclick:preventDefault @onclick=@this.SessionData.Logout>Logout</a>
            } else {
                @this.LoginFormElement?.GenerateDialogOpener();
                @this.RegistrationFormElement?.GenerateDialogOpener();
                @* <a data-bs-toggle="modal" data-bs-target="#loginModal">Login</a> *@
                @* <a data-bs-toggle="modal" data-bs-target="#signupModal">Sign Up</a> *@
            }
        } else {
            <span>Loading...</span>
        }
    </div>

    <article class="content px-4">
        <h4>Mind Cabinet</h4>

        <div>
            @if( this.Http.BaseAddress is not null ) {
                <Main />
            } else {
                <span>Loading...</span>
            }
            @* <GoalEditor OnGoalSelect="async e => {}" /> *@
        </div>
    </article>
</main>


@if( this.SessionData.IsLoaded && this.SessionData.UserId is null ) {
    <UserLoginForm @ref=this.LoginFormElement Id="MainLogin" OnUserLogin_Async=@this.OnLogin_UI_Async />
    <UserRegistrationForm @ref=this.RegistrationFormElement Id="MainRegistration" OnUserCreate_Async=@this.OnRegistration_UI_Async />
}


@code {
    private async Task OnLogin_UI_Async( SimpleUserObject.ClientData user ) {
        this.SessionData.Login( user );

        this.StateHasChanged();
    }

    private async Task OnRegistration_UI_Async( SimpleUserObject.ClientData user ) {
        //this.SessionData.Login(user);     <- No automatic login

        this.StateHasChanged();
    }
}
