@page "/StatusCode/{ResponseCode}"


@inherits MindCabinet.Client.Site.MainLayout;


<p>Response code: @this.ResponseCode</p>


@code {
    [Parameter]
    public string? ResponseCode { get; set; }
}
