@using MindCabinet.Client.Services
@using MindCabinet.Data
@using System.Data
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <base href="/" />

    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="MindCabinet.styles.css" />   @* Where is this? *@

    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />

    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <HeadOutlet @rendermode="@RenderMode.InteractiveWebAssembly" />
</head>

<body>
    <Routes @rendermode="@RenderMode.InteractiveWebAssembly" />
    
    <script src="main.js"></script>
    <script src="_framework/blazor.web.js"></script>
    @* @if( this.ServerData.RenderScripts.Count > 0 ) {
    <script>
        @foreach( string script in this.ServerData.RenderScripts ) {
            @(new MarkupString(script))
        }
    </script>
    } *@
</body>

</html>



@code {
    [Inject]
    private ServerDbAccess Db { get; set; } = null!;

    [Inject]
    private MindCabinet.Data.ServerSessionData SessionData { get; set; } = null!;

    [Inject]
    public IServiceProvider ServiceProvider { get; set; } = null!;


    protected async override Task OnInitializedAsync() {
        await base.OnInitializedAsync();

        bool isClient = this.ServiceProvider.GetService<IsClient>() is not null;
        if( isClient ) {
            throw new Exception( "Not server!" );
        }

        IDbConnection dbCon = await this.Db.ConnectDb_Async();

        await this.SessionData.Load_Async( dbCon );

        if( this.SessionData.SessionId is not null ) {
            if( isClient ) {
            } else {
                await this.SessionData.Visit_Async( dbCon );
            }
        }
    }
}
