<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <base href="/" />

    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="MindCabinet.styles.css" />   @* Where is this? *@

    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />

    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <HeadOutlet @rendermode="@RenderMode.InteractiveWebAssembly" />
</head>

<body>
    <Routes @rendermode="@RenderMode.InteractiveWebAssembly" />
    
    <script src="main.js"></script>
    <script src="_framework/blazor.web.js"></script>
    @* @if( this.ServerData.RenderScripts.Count > 0 ) {
    <script>
        @foreach( string script in this.ServerData.RenderScripts ) {
            @(new MarkupString(script))
        }
    </script>
    } *@
</body>

</html>
