@using Microsoft.AspNetCore.Components;
@using MindCabinet.Client.Components.Application.Editors;
@using MindCabinet.Client.Components.Application.Renders;
@using MindCabinet.Client.Components.Standard;
@using MindCabinet.Client.Services;
@using MindCabinet.Shared.DataObjects;
@using MindCabinet.Shared.DataObjects.Term
@using MindCabinet.Shared.DataObjects.UserContext



<div component-name="CurrentContextEditor" class=@this.AddedClasses>
	<h4>Enter tags to describe your current circumstances:</h4>
	<TagSetEditor @ref=this.TagSetEditorRef
				Label="Enter tags (at least 1 required)"
				AllowFavoritingTerms=@false
				OnTagsChange_Async=@this.OnTagsChanged_UI_Async>
		<TagPostfix Context="tag">
			<SliderNumberInput
					InitialValue=@this.GetTagPriorityValue(tag)
					OnValueChanged_Async=@( async (val) => await this.OnPriorityChange_Async(tag, val) ) />
			<input type="checkbox"
					checked=@this.IsChecked
					@onchange=@( async (e) => await this.OnIsRequiredChange_Async(tag, (bool)e.Value!) ) />
		</TagPostfix>
	</TagSetEditor>
	<button disabled=@(!this.CanSubmit()) @onclick=@this.Submit_UI_Async>Submit</button>
</div>



@code {
	private TagSetEditor TagSetEditorRef = null!;

	private bool IsChecked { get; set; } = false;



	private double GetTagPriorityValue( TermObject tag ) {
		return this.CurrentContext?
			.Entries
			.FirstOrDefault( t => t.Term.Id == tag.Id )?
			.Priority ?? 0;
	}
	
	private async Task OnTagsChanged_UI_Async( IEnumerable<TermObject> currentTags, TermObject changedTag, bool isAdded ) {
		if( this.CurrentContext is null ) {
			return;
		}

		if( isAdded ) {
			await this.AddNewTag_Async( changedTag );
		}
		else {
			await this.RemoveTag_Async( changedTag );
		}
	}
	
	private async Task OnPriorityChange_Async( TermObject tag, double newValue ) {
		UserContextEntryObject? entry = this.CurrentContext?
			.Entries
			.FirstOrDefault( t => t.Term.Id == tag.Id );

		if( entry is not null ) {
			entry.Priority = newValue;
		}
	}
	
	private async Task OnIsRequiredChange_Async( TermObject tag, bool newValue ) {
		UserContextEntryObject? entry = this.CurrentContext?
			.Entries
			.FirstOrDefault( t => t.Term.Id == tag.Id );

		if( entry is not null ) {
			entry.IsRequired = newValue;
		}
	}
}
