@using Microsoft.AspNetCore.Components;
@using MindCabinet.Client.Components.Application.Editors;
@using MindCabinet.Client.Components.Application.Renders;
@using MindCabinet.Client.Components.Standard;
@using MindCabinet.Client.Services;
@using MindCabinet.Shared.DataObjects;
@using MindCabinet.Shared.DataObjects.PostsContext;
@using MindCabinet.Shared.DataObjects.Term;
@using System.Text.Json



<div component-name="PostsContextEditor" class=@this.AddedClasses>
	<div class="tooltip-container">
		<h4>Context name:</h4>
		<div class="tooltip-box">AKA an arbitrary circumstance or phenomenon to be described</div>
	</div>
	<input type="text"
			placeholder="Enter context name"
			@bind:event="oninput"
            @bind:get=@this.EditContext_Prototype.Name
            @bind:set=@this.OnInputName_UI_Async />
	<h4>Enter tags to describe your current "context":</h4>
	<TermSetEditor Label="Enter tags (at least 1 required)"
			AddedPerItemClasses="d-block"
			InitialTerms=@( this.InitialContext?.Entries
					.Select( e => e.Term )
					.ToList()
				?? new List<TermObject>() )
			AllowFavoritingTerms=@false
			OnTermsChange_Async=@this.OnTagsChanged_UI_Async>
		<PerTermAffix Context="termOfSet">
			<SliderNumberInput
					InitialValue=@this.GetTagPriorityValue(termOfSet)
					OnValueChanged_Async=@( async (val) => await this.OnPriorityChange_UI_Async(termOfSet, val) ) />
			<input type="checkbox"
					checked=@this.GetFirstMatchingPrototypeTagEntry(termOfSet.Id).IsRequired
					@onchange=@( async (e) => await this.OnIsRequiredChange_UI_Async(termOfSet, (bool)e.Value!) ) />
		</PerTermAffix>
	</TermSetEditor>
	<div>
		<div>Context options:</div>
		<button @onclick=@(() => this.ClearEditContext_UI(false))>
			Create New
		</button>
		<button disabled=@( !this.HasUnsavedChanges().HasUnsavedChanges )
				@onclick=@this.SaveContext_UI_Async>
			Save Changes
		</button>
	</div>
</div>


<RenderPortal TargetRegion="ModalDialogs">
	<Modal @ref=@this.ConfirmResetPromptDialogComponent
			ModalId=@( "PostsContextEditor_Reset_"+Guid.NewGuid().ToString("N").Substring(0, 8) )
			Title="Confirm Context Creation">
		<BodyContent>
			<i>You have unsaved changes. Remove all changes?</i>
			<div>
				<button @onclick=@(this.ConfirmResetPromptDialogComponent.Close)>
					Cancel
				</button>
				<button @onclick=@( () => this.ClearEditContext_UI(true))>
					Confirm
				</button>
			</div>
		</BodyContent>
	</Modal>
</RenderPortal>



@code {
    private Modal ConfirmResetPromptDialogComponent = null!;



	private double GetTagPriorityValue( TermObject tag ) {
		return this.EditContext_Prototype
			.Entries
			.FirstOrDefault( t => t.TermId == tag.Id )?
			.Priority ?? 0;
	}

	private PostsContextTermEntryObject.Raw GetFirstMatchingPrototypeTagEntry( TermId id ) {
		return this.EditContext_Prototype
			.Entries
			.First( t => t.TermId == id );
	}

	
    private async Task OnInputName_UI_Async( string? nameText ) {
        await Task.CompletedTask;
        if( string.IsNullOrEmpty(nameText) ) {
            return;
        }

		this.EditContext_Prototype.Name = nameText;
    }

	private async Task OnTagsChanged_UI_Async( IEnumerable<TermObject> currentTags, TermObject changedTag, bool isAdded ) {
		PostsContextTermEntryObject.Raw? changedTagEntry = null;

		if( isAdded ) {
			changedTagEntry = await this.AddNewTag_Async( changedTag );
		} else {
			changedTagEntry = await this.RemoveTag_Async( changedTag );
		}

        if( this.OnEntryEdit_Async is not null && changedTagEntry is not null ) {
            await this.OnEntryEdit_Async.Invoke( changedTagEntry, isAdded );
        }

		this.StateHasChanged();
	}
	
	private async Task OnPriorityChange_UI_Async( TermObject tag, double newValue ) {
        await Task.CompletedTask;
		PostsContextTermEntryObject.Raw? entry = this.EditContext_Prototype
			.Entries
			.FirstOrDefault( t => t.TermId == tag.Id );

		if( entry is not null ) {
			entry.Priority = newValue;
		}

		this.StateHasChanged();
	}
	
	private async Task OnIsRequiredChange_UI_Async( TermObject tag, bool newValue ) {
        await Task.CompletedTask;

		PostsContextTermEntryObject.Raw? entry = this.EditContext_Prototype
			.Entries
			.FirstOrDefault( t => t.TermId == tag.Id );

		if( entry is not null ) {
			entry.IsRequired = newValue;
		}

		this.StateHasChanged();
	}

	private void ClearEditContext_UI( bool forceReset ) {
		if( this.HasUnsavedChanges().HasUnsavedChanges && !forceReset ) {
			this.ConfirmResetPromptDialogComponent.Open();

			return;
		}

		// if( this.ResetPromptDialog.IsOpen ) {
		this.ConfirmResetPromptDialogComponent.Close();

		this.ClearEditContext();

		this.StateHasChanged();
	}


	private async Task SaveContext_UI_Async() {
		await this.UpdateOrCreate_Async();
        
		this.StateHasChanged();
    }
}
