@using MindCabinet.Client.Components.Standard;
@using MindCabinet.Client.Components.Application.Renders;
@using MindCabinet.Client.Components.Application.Pickers;
@using MindCabinet.Client.Services;
@using MindCabinet.Shared.DataObjects;
@using MindCabinet.Shared.DataObjects.Term;



<div component-name="TermEditor"
        class="basic @(this.Disabled ? "disabled" : null) @(this.AddedClasses ?? "")">
    @*<component-label>@this.Label</component-label>*@
    <input type="text"
            disabled=@this.Disabled
            title=@this.Description
            @onfocusin=@(e => this.IsSeachFocused = true)
            @onfocusout=@(e => this.IsSeachFocused = false)
            @onkeydown=@this.OnInputKey_UI_Async
            @bind:event="oninput"
            @bind:get=@this.Value
            @bind:set=@this.OnInputTermOrSearch_UI_Async />
            @* @onchange=@this.SubmitNewTerm_UI_Async /> *@
    <div>
        <div style="position: absolute; display: inline-block;">
            @* @if( (this.IsSeachFocused || (this.SearchResultsElement?.HasFocus ?? false)) && this.SearchOptions.Count() > 0 ) { *@
            @if( this.SearchOptions.Count() > 0 ) {
@* @("terms: "+string.Join(", ", this.SearchOptions.Select(t=>t.Term))) *@
                <MultiTermRender
                        Terms=@this.SearchOptions
                        OnClick_Async=@(async (t, _) => await this.SelectSearchResults_UI_Async(t)) />
            }
       </div>
    </div>
</div>


<RenderPortal TargetRegion="ModalDialogs">
    <Modal @ref=@this.ModalDialogComponent
            ModalId=@this.ModalDialogId
            Title="Specify Context">
        <BodyContent>
            <TermSearch OnTermSelect_Async=@this.OnModalDialogTermContextSelect_UI_Async />
        </BodyContent>
    </Modal>
</RenderPortal>



@code {
    private string ModalDialogId => "termContextSelectorModal_" + Guid.NewGuid()
        .ToString("N")
        .Substring(0, 8);



    public void Reset_UI() {
        this.Value = "";
        this.SearchOptions = new List<TermObject>();
    }


    private async Task OnInputKey_UI_Async( KeyboardEventArgs arg ) {
        if( this.Disabled ) {
            return;
        }
        if( !this.IsSeachFocused ) {
            return;
        }

        // switch( arg.Key ) {
        // case "ArrowUp":
        //     this.SearchPosition = Math.Max( this.SearchPosition - 1, 0 );
        //     break;
        // case "ArrowDown":
        //     this.SearchPosition = Math.Min( this.SearchPosition + 1, this.SearchOptions.Count() - 1 );
        //     break;
        // }
        
        if( arg.Code == "Enter" || arg.Code == "NumpadEnter" ) {
            await this.BeginSubmitNewTerm_Async( this.Value );

            return;
        }

        //Console.WriteLine("key input: "+(int)arg.Key[0]+", value: "+this.Value );
        //todo arrow key search results navigation
    }

    
    private async Task OnInputTermOrSearch_UI_Async( string termText ) {
        if( this.Disabled ) {
            return;
        }
        
        if( string.IsNullOrEmpty(termText) ) {
            this.SearchOptions = new List<TermObject>();
            // this.SearchPosition = 0;
            this.Value = "";

            return;
        }

        bool submitTerm = false;

        if( this.OnAttemptingTermInput_Async is not null ) {
            (termText, submitTerm) = await this.OnAttemptingTermInput_Async( termText! );
        }

        this.Value = termText!;

        if( submitTerm ) {
            await this.BeginSubmitNewTerm_Async( termText! );
        } else {
            await this.TrySearchTerm_Async( termText! );
        }
    }


    private async Task OnModalDialogTermContextSelect_UI_Async( TermObject contextTerm ) {
        if( this.Value is null || !TermObject.ValidateTerm(this.Value) ) {
            throw new InvalidOperationException( "Invalid term input OnModalDialogTermContextSelect_Async." );
        }

        this.ModalDialogComponent.Close();

        if( await this.SubmitNewTerm_Async(this.Value, contextTerm) ) {
            this.StateHasChanged();
        }

        this.Reset_UI();
    }
}