@using System.Drawing;
@using Microsoft.AspNetCore.Components;
@using MindCabinet.Client.Components.Application.Editors;
@using MindCabinet.Client.Components.Application.Pickers
@using MindCabinet.Client.Components.Application.Renders;
@using MindCabinet.Client.Components.Standard;
@using MindCabinet.Client.Services;
@using MindCabinet.Shared.DataObjects;
@using MindCabinet.Shared.DataObjects.Term;



@{
    string styles = (this.AdjustableOrderAndVerticalStackMode
            ? "display: flex; flex-direction: column; min-height: 100%; "
            : " ")
        +this.AddedStyle;
    styles = styles.TrimEnd();
}
<div component-name="@nameof(TermSetInputEditor)"
            class=@this.AddedClasses
            style=@styles>
    @if( this.Label is not null ) {
        if( this.AdjustableOrderAndVerticalStackMode ) {
            <div style="flex-shrink: 0;">@this.Label</div>
        } else {
            <span>@this.Label</span>
        }
    }
    <TermInputEditor AddedClasses="ib"
                AddedStyle=@( this.AdjustableOrderAndVerticalStackMode ? "flex-shrink: 0;" : null )
                OnAttemptingTermInput_Async=@this.OnTermEditConfirmSubmit_UI_Async
                OnTermConfirm_Async=@this.AddTerm_UI_Async />
    @{
        string listStyles = this.AdjustableOrderAndVerticalStackMode ? "flex-grow: 1; min-height: 0;" : "";
    }
    <div class=@(this.Terms.Count > 0 ? "card" : "") style=@listStyles>
        @{
            string addedClass = this.AdjustableOrderAndVerticalStackMode
                ? " block"
                : " ib";
            foreach( TermObject termOfSet in this.Terms ) {
                <TermRender AddedClasses=@($"{this.AddedPerItemClasses}{addedClass}")
                            Term=@termOfSet
                            VerboseTermDisplay=@this.VerboseTermDisplay
                            HasFavoriteButton=@this.AllowFavoritingTerms
                            OnDrag_Async=@( async (x, y, rect) =>
                                await this.OnDragTerm_UI_Async(termOfSet, x, y, rect) )>
                    @this.PerTermAffix?.Invoke( termOfSet )
                    <a class="" @onclick=@( async () => await this.RemoveTerm_UI_Async(termOfSet) )>X</a>
                </TermRender>
            }
        }
    </div>
</div>



@code {
    [Parameter]
    public RenderFragment<TermObject>? PerTermAffix  { get; set; }


    public async Task<bool> OnDragTerm_UI_Async( TermObject term, double x, double y, Rectangle rect ) {
        await Task.CompletedTask;

        bool hasChangedOrder = false;

        if( y < rect.Y ) {
            hasChangedOrder = await this.ShiftTermOrder_Async( term, offset: -1 );
        } else if( y > rect.Y + rect.Height ) {
            hasChangedOrder = await this.ShiftTermOrder_Async( term, offset: 1 );
        }

        if( hasChangedOrder ) {
            this.StateHasChanged();
        }

        return hasChangedOrder;
    }
    

    private async Task AddTerm_UI_Async( TermObject term, bool isNew ) {
        if( this.Terms.Any(t => t.Equals(term)) ) {
            return;
        }

        if( await this.AddTerm_Async(term) ) {
            this.StateHasChanged();
        }

        return;
    }


    public async Task<(string termText, bool isSubmit)> OnTermEditConfirmSubmit_UI_Async( string term ) {
        await Task.CompletedTask;

        return term.Contains(",")
            ? (term.Split(",")[0], true)
            : (term, false);
    }


    private async Task<bool> RemoveTerm_UI_Async( TermObject term ) {
        if( !this.Terms.Any(t => t.Equals(term)) ) {
            return false;
        }

        bool isRemoved = await this.RemoveTerm_Async( term );

        if( isRemoved ) {
            this.StateHasChanged();
        }

        return isRemoved;
    }
}
