@using Microsoft.AspNetCore.Components;
@using MindCabinet.Client.Components.Application.Editors;
@using MindCabinet.Client.Components.Application.Renders;
@using MindCabinet.Client.Components.Standard;
@using MindCabinet.Client.Services;
@using MindCabinet.Shared.DataObjects;
@using MindCabinet.Shared.DataObjects.Term;
@using MindCabinet.Shared.DataObjects.UserContext;



<div component-name="UserContextEditor" class=@this.AddedClasses>
	<h4>Enter tags to describe your current circumstances:</h4>
	<input type="text"
			placeholder="Enter context name"
			@bind:event="oninput"
            @bind:get=@this.CurrentContextPrototype.Name
            @bind:set=@this.OnInputName_UI_Async />
	<TermSetEditor Label="Enter tags (at least 1 required)"
				InitialTerms=@( this.InitialContext?.Entries
						.Select( e => e.Term )
						.ToList()
					?? new List<TermObject>() )
				AllowFavoritingTerms=@false
				OnTermsChange_Async=@this.OnTagsChanged_UI_Async>
		<PerTermAffix Context="term">
			<SliderNumberInput
					InitialValue=@this.GetTagPriorityValue(term)
					OnValueChanged_Async=@( async (val) => await this.OnPriorityChange_UI_Async(term, val) ) />
			<input type="checkbox"
					checked=@(this.CurrentContextPrototype
						.Entries
						.First(t => t.TermId == term.Id)
						.IsRequired)
					@onchange=@( async (e) => await this.OnIsRequiredChange_UI_Async(term, (bool)e.Value!) ) />
		</PerTermAffix>
	</TermSetEditor>
	<div>
		<button @onclick=@(async () => await this.NewContext_UI_Async(false))>
			New
		</button>
		<button disabled=@(!this.CanSaveCurrentContext())
				@onclick=@this.SaveContext_UI_Async>
			Save
		</button>
	</div>
</div>


<Modal @ref=@this.ResetPromptDialog
		ModalId="resetContextPrompt"
		Title="Confirm Context Creation">
	<BodyContent>
		<i>You have unsaved changes. Remove all changes?</i>
		<div>
			<button @onclick=@(this.ResetPromptDialog.Close)>
				Cancel
			</button>
			<button @onclick=@( async () => await this.NewContext_UI_Async(true))>
				Confirm
			</button>
		</div>
	</BodyContent>
</Modal>



@code {
    private Modal ResetPromptDialog = null!;



	private double GetTagPriorityValue( TermObject tag ) {
		return this.CurrentContextPrototype
			.Entries
			.FirstOrDefault( t => t.TermId == tag.Id )?
			.Priority ?? 0;
	}
	
    private async Task OnInputName_UI_Async( string? nameText ) {
        if( string.IsNullOrEmpty(nameText) ) {
            return;
        }

		this.CurrentContextPrototype.Name = nameText;
    }

	private async Task OnTagsChanged_UI_Async( IEnumerable<TermObject> currentTags, TermObject changedTag, bool isAdded ) {
		if( isAdded ) {
			await this.AddNewTag_Async( changedTag );
		}
		else {
			await this.RemoveTag_Async( changedTag );
		}
	}
	
	private async Task OnPriorityChange_UI_Async( TermObject tag, double newValue ) {
		UserContextTermEntryObject.DatabaseEntry? entry = this.CurrentContextPrototype
			.Entries
			.FirstOrDefault( t => t.TermId == tag.Id );

		if( entry is not null ) {
			entry.Priority = newValue;
		}
	}
	
	private async Task OnIsRequiredChange_UI_Async( TermObject tag, bool newValue ) {
		UserContextTermEntryObject.DatabaseEntry? entry = this.CurrentContextPrototype
			.Entries
			.FirstOrDefault( t => t.TermId == tag.Id );

		if( entry is not null ) {
			entry.IsRequired = newValue;
		}
	}

	private async Task NewContext_UI_Async( bool forceReset ) {
		if( await this.HasUnsavedChanges() && !forceReset ) {
			this.ResetPromptDialog.Open();
		} else {
			this.ResetCurrentContext();

			if( this.ResetPromptDialog.IsOpen ) {
				this.ResetPromptDialog.Close();
			}
		}
	}

	private async Task SaveContext_UI_Async() {
		if( this.SessionsData.GetCurrentContext() is null ) {
			await this.Create_Async();
		} else {
			await this.Update_Async();
		}
    }
}
