@using MindCabinet.Shared.DataObjects;
@using MindCabinet.Shared.DataObjects.PostsContext;
@using MindCabinet.Shared.DataObjects.Term;



<div component-name="MultiPostsContextRender"
        class="basic @(this.AddedClasses ?? "")"
        style="background-color: white;"
        @onfocusin=@(e => this.HasFocus = true)
        @onfocusout=@(e => this.HasFocus = false)>
    @foreach( PostsContextObject context in this.Contexts ) {
        <PostsContextRender
                AddedClasses="ib"
                Context=@context
                OnClick_Async=@(async e => await this.OnClickEach_UI_Async(context, e)) />
    }
</div>



@code {
    private async Task OnClickEach_UI_Async( PostsContextObject context, MouseEventArgs args ) {
        if( this.OnClick_Async is not null ) {
            //this.HasFocus = await this.OnClickEach_Async( term, args );
            await this.OnClick_Async( context, args );
        }
    }
}
