@using MindCabinet.Shared.DataObjects



<ul component-name="MultiPostRender" class="basic @(this.AddedClasses ?? "")">
    @foreach( SimplePostObject post in this.Posts ) {
        <li>
            <SimplePostRender Post=@post OnClick_Async=@(async e => await this.OnClick_UI_Async(post, e)) />
        </li>
    }
</ul>


@code {
    private async Task OnClick_UI_Async( SimplePostObject post, MouseEventArgs args ) {
        if( this.OnClick_Async is not null ) {
            await this.OnClick_Async( post, args );
        }
    }
}