@using MindCabinet.Shared.DataObjects;
@using MindCabinet.Shared.DataObjects.Term;



<div component-name="PostsContextRender"
        class="basic tooltip-container @(this.AddedClasses ?? "")"
        @onclick=@this.OnClick_UI_Async>
    @this.Context.Name
    @if( !string.IsNullOrEmpty(this.Context.Description) ) {
        <div class="tooltip-box">@this.Context.Description</div>
    }
    @this.ChildContent
</div>


@code {
    private async Task OnClick_UI_Async( MouseEventArgs args ) {
        if( this.OnClick_Async is not null ) {
            await this.OnClick_Async( args );
        }
    }
}
