@using MindCabinet.Shared.DataObjects;
@using MindCabinet.Shared.DataObjects.Term;
@using MindCabinet.Client.Components.Standard;



<div component-name="PostsContextRender"
            class="basic @(this.AddedClasses ?? "")"
            @onclick=@this.OnClick_UI_Async>
    <Tooltip Enabled=@(() => !string.IsNullOrEmpty(this.Context.Description))>
        <Anchor>
            @this.Context.Name
        </Anchor>
        <TooltipContent>
            @this.Context.Description
        </TooltipContent>
    </Tooltip>
    @this.ChildContent
</div>


@code {
    private async Task OnClick_UI_Async( MouseEventArgs args ) {
        if( this.OnClick_Async is not null ) {
            await this.OnClick_Async( args );
        }
    }
}
