@using MindCabinet.Shared.DataObjects
@using MindCabinet.Shared.DataObjects.Term



<div component-name="TermRender" class="basic @(this.AddedClasses ?? "")" @onclick=@this.OnClick_UI_Async>
    @(this.Term?.Term ?? "?")
    @if( this.Term?.Context?.Context is not null ) {
        <div class="tooltiptext">@this.Term.Context.Context.Term</div>
    }
    @this.ChildContent
    @if( this.HasFavoriteButton && this.Term is not null ) {
        <button class=@(async () => await this.CurrentTermIsFavorite_Async() ? "lit" : "unlit")
                @onclick=this.OnFavoriteButtonClick_UI_Async>
            ★
        </button>
    }
</div>


@code {
    private async Task OnClick_UI_Async( MouseEventArgs args ) {
        if( this.OnClick_Async is not null ) {
            await this.OnClick_Async( args );
        }
    }


    private async Task OnFavoriteButtonClick_UI_Async( MouseEventArgs args ) {
        /*⭐*/
        await this.ToggleFavoriteTerm_Async();

        this.StateHasChanged();
    }
}
