@using MindCabinet.Shared.Utility;


<div component-name="@nameof(Tabs)" class="tab-header-container">
    @for( int i=0; i<this.TabEntries.Count; i++ ) {
        int idx = i;
        <div class="tab-header" @onclick=@(() => this.ChangeTab_UI(idx))>
            @this.TabEntries[i].Header
        </div>
    }
</div>
<div class="tab-body-container">
    @this.ChildContent
    @if( this.TabEntries.Count > this.CurrentTabIndex ) {
        @this.TabEntries[ this.CurrentTabIndex ].Content
    }
</div>



@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }   // obligatory?



    public void ChangeTab_UI( int index ) {
        if( index < 0 || index >= this.TabEntries.Count ) {
            throw new ArgumentOutOfRangeException( nameof(index), $"Index {index} is out of range for TabEntries (count: {this.TabEntries.Count})" );
        }
        this.CurrentTabIndex = index;

        this.StateHasChanged();
    }
}
