@using MindCabinet.Shared.Utility;


<div component-name="@nameof(Tabs)" class="tab-header-container">
    @for( int i=0; i<this.TabEntries.Count; i++ ) {
        int idx = i;
        <div class="tab-header" @onclick=@(() => this.ChangeTab_UI(idx))>
            @this.TabEntries[i].Header
        </div>
    }
</div>
<div class="tab-body-container">
    @this.TabEntries[ this.CurrentTabIndex ].Content
</div>



@code {
    public void ChangeTab_UI( int index ) {
        this.CurrentTabIndex = index;

        this.StateHasChanged();
    }
}
