@using System.Text.Json;
@using Microsoft.AspNetCore.Components;
@using MindCabinet.Client.Components.Application.Editors;
@using MindCabinet.Client.Components.Application.Renders;
@using MindCabinet.Client.Components.Standard.Tabs2;
@using MindCabinet.Client.Services;
@using MindCabinet.Shared.DataObjects;
@using MindCabinet.Shared.DataObjects.PostsContext;
@using MindCabinet.Shared.DataObjects.Term;



<div component-name="@nameof(CurrentPostsBrowserTabs)" class=@this.AddedClasses>
    <Tabs @ref=@this.Tabs>
        @{ this._PostsBrowsersByTabIndex.Clear(); }

        @for( int i=0; i<this.TabsDataSuppliers.Count; i++ ) {
            PostsContextObject ctx = this.TabsDataSuppliers[i];

            <TabEntry>
                <Header>
                    <div>'@(ctx.Name)' posts</div>
                </Header>
                <Content>
                    <PostsBrowser
                        @ref=@this._TempPostsBrowserRef
                        Id=@($"{this.Id}_{ctx.Id}")
                        PostsContext=ctx />
                </Content>
            </TabEntry>

            this._PostsBrowsersByTabIndex.Add( this._TempPostsBrowserRef! );
        }
    </Tabs>
</div>



@code {
    private PostsBrowser? _TempPostsBrowserRef;    // yuck!
}
