@using System.Text.Json;
@using Microsoft.AspNetCore.Components;
@using MindCabinet.Client.Components.Application.Editors;
@using MindCabinet.Client.Components.Application.Renders;
@using MindCabinet.Client.Components.Standard;
@using MindCabinet.Client.Services;
@using MindCabinet.Shared.DataObjects;
@using MindCabinet.Shared.DataObjects.PostsContext;
@using MindCabinet.Shared.DataObjects.Term;



<div component-name="@nameof(CurrentPostsBrowserTabs)" class=@this.AddedClasses>
    <Tabs @ref=@this.Tabs InitialTabEntries=@this.GenerateTabsAndStoreBrowsersFromDataSuppliers() />
</div>



@code {
    private IEnumerable<(RenderFragment Header, RenderFragment Content)> GenerateTabsAndStoreBrowsersFromDataSuppliers() {
        this._PostsBrowsersByTabIndex.Clear();

        foreach( PostsContextObject ctx in this.TabsDataSuppliers ) {
            yield return this.GenerateTab_Blazor( ctx, out PostsBrowser browser );

            this._PostsBrowsersByTabIndex.Add( browser );
        }
    }


     private PostsBrowser? _TempPostsBrowserRef;    // yuck!
    private (RenderFragment Header, RenderFragment Content) GenerateTab_Blazor(
                PostsContextObject ctx,
                out PostsBrowser postsBrowser ) {
        (RenderFragment Header, RenderFragment Content) ret = (
            Header: @<div>'@(ctx.Name)' posts</div>,
            Content: @<PostsBrowser
                    @ref=this._TempPostsBrowserRef
                    Id=@($"{this.Id}_{ctx.Id}")
                    PostsContext=ctx />
        );

        postsBrowser = this._TempPostsBrowserRef!;
        return ret;
    }
}
