@using System.Drawing;
@using Microsoft.AspNetCore.Components;
@using MindCabinet.Client.Components.Application.Editors;
@using MindCabinet.Client.Components.Application.Pickers
@using MindCabinet.Client.Components.Standard;
@using MindCabinet.Client.Services;
@using MindCabinet.Shared.DataObjects;
@using MindCabinet.Shared.DataObjects.Term;



<div component-name="@nameof(AllTermsRichEditor)"
            class=@this.AddedClasses
            style="min-height: 100%;">
    @if( this.Label is not null ) {
        <div style="flex-shrink: 0;">@this.Label</div>
    }

    <div class="card">
        <div>
            <span>Create New: </span>
            <TermInputEditor AddedClasses="ib"
                        AddedStyle="display: inline-block"
                        OnAttemptingTermInput_Async=@this.OnTermEditConfirmSubmit_UI_Async
                        OnTermConfirm_Async=@this.AddTerm_UI_Async />
        </div>

        <div style="display: grid; grid-template-columns: auto auto auto;">
            <div>
                <span>Sort alphabetically: </span>
                <input type="radio" name="sort_alphabetic" id="sort_alphabetic_asc_@(this.Id)"
                            @onchange=@( _ => this.SetAlphabeticalSort_UI(true) ) />
                    <label for="sort_alphabetic_asc_@(this.Id)">Ascending</label>
                <input type="radio" name="sort_alphabetic" id="sort_by_create_date_desc_@(this.Id)" checked
                            @onchange=@( _ => this.SetAlphabeticalSort_UI(false) ) />
                    <label for="sort_alphabetic_desc_@(this.Id)">Descending</label>
            </div>
            <div>
                <span>Search By Context: </span>
                <TermSearchPicker OnTermSelect_Async=@this.OnContextTermSearchChoice_UI_Async />
                <input type="button" value="   " @onclick=@this.ClearContextSearch_UI />
            </div>
            <div style="margin-left: auto; margin-right: 0;">
                <span>Search By Term: </span>
                <input type="text"
                        @bind:event="oninput"
                        @bind:get=@this.TermFilterValue
                        @bind:set=@this.OnInputTermFilter_UI_Async
                        @onkeydown=@this.OnEnterTermFilter_UI_Async />
            </div>
        </div>

        <div class="card" style="overflow-y: scroll;">
            @if( this.Terms.Count > this.PageSize ) {
                <Pagination
                        TotalPages=@this.TotalPages
                        CurrentPage=@this.CurrentPage
                        OnPageChange_Async=@this.OnChangePage_UI_Async />
            }
            <div style="min-height: 100%;">
                @foreach( TermObject termOfSet in this.Terms ) {
                    <TermRichEditor InitialTerm=@termOfSet>
                        <PostFix>
                            <a @onclick=@( async () => await this.RemoveTerm_UI_Async(termOfSet) )>X</a>
                        </PostFix>
                    </TermRichEditor>
                }
            </div>
            @if( this.Terms.Count > this.PageSize ) {
                <Pagination
                        TotalPages=@this.TotalPages
                        CurrentPage=@this.CurrentPage
                        OnPageChange_Async=@this.OnChangePage_UI_Async />
            }
        </div>
    </div>
</div>



@code {
    private void SetAlphabeticalSort_UI( bool ascending ) {
        this.SortAscending = ascending;

        this.DisplayListNeedsRefresh = true;
        this.StateHasChanged();
    }

    private async Task AddTerm_UI_Async( TermObject term, bool _ ) {
        if( this.Terms.Any(t => t.Equals(term)) ) {
            return;
        }

        if( await this.AddTerm_Async(term) ) {
            this.StateHasChanged();
        }

        return;
    }


    private async Task OnContextTermSearchChoice_UI_Async( TermObject term ) {
        await Task.CompletedTask;

        this.ContextIdFilter = term.Id;

        this.DisplayListNeedsRefresh = true;
        this.StateHasChanged();
    }

    private async Task ClearContextSearch_UI() {
        this.ContextIdFilter = null;
        
        this.DisplayListNeedsRefresh = true;
        this.StateHasChanged();
    }


    private async Task OnInputTermFilter_UI_Async( string value ) {
        await Task.CompletedTask;
        this.TermFilterValue = value;
    }
    
    private async Task OnEnterTermFilter_UI_Async( KeyboardEventArgs arg ) {
        await Task.CompletedTask;
        if( arg.Code != "Enter" && arg.Code != "NumpadEnter" ) {
            return;
        }
        
        this.DisplayListNeedsRefresh = true;
        this.StateHasChanged();
    }


    private async Task<(string termText, bool isSubmit)> OnTermEditConfirmSubmit_UI_Async( string term ) {
        await Task.CompletedTask;

        return term.Contains(",")
            ? (term.Split(",")[0], true)
            : (term, false);
    }


    private async Task<bool> RemoveTerm_UI_Async( TermObject term ) {
        if( !this.Terms.Any(t => t.Equals(term)) ) {
            return false;
        }

        bool isRemoved = await this.RemoveTerm_Async( term );

        if( isRemoved ) {
            this.DisplayListNeedsRefresh = true;
            this.StateHasChanged();
        }

        return isRemoved;
    }


    private async Task OnChangePage_UI_Async( int newPage ) {
        this.CurrentPage = newPage;
    }
}
