@using Microsoft.AspNetCore.Components;



<div component-name="UserLoginForm" class=@this.GetClasses id=@this.ModalId>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login as user</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <input type="text"
                       title="User name:"
                       @bind:event="oninput"
                       @bind:get=@this.UserName
                       @bind:set=@this.OnInputUserName_UI_Async />
                <br />
                <input type="text"
                       title="Password:"
                       @bind:event="oninput"
                       @bind:get=@( () => new string('*', this.Password.Length) )
                       @bind:set=@( async (src) => await this.OnInputPassword_UI_Async( src.Invoke() ) ) />
                @* @bind:set=this.OnInputPassword_UI_Async /> *@
                <br />
                <button disabled=@( () => !this.CanSubmit()) @onclick=@this.Submit_UI_Async>Submit</button>
            </div>

            @if( this.LoginStatus is not null ) {
                <div class="modal-footer">@this.LoginStatus</div>
            }
        </div>
    </div>
</div>



@code {
    public string GetClasses() {
        string classes = "modal";
        if( this.AddedClasses is not null ) {
            classes += " " + this.AddedClasses;
        }
        return classes;
    }
}
