@page "/";


@using MindCabinet.Client.Components.Application;
@using MindCabinet.Client.Components.Application.Editors;
@using MindCabinet.Client.Components.Application.Pickers;
@using MindCabinet.Client.Services;



<PageTitle>Home</PageTitle>


@* <HeadContent>
    <link rel="stylesheet" href="lib/components/standard/tabs/css/tabs.css" />
    <link rel="stylesheet" href="lib/components/standard/toggle-switch/css/toggle-switch.css" />
</HeadContent> *@


<h4>Mind Cabinet</h4>

@* <div style="display: grid; grid-template-columns: auto auto;"> *@
<div class="tab-container">
    <input type="radio" id="tab-posts" name="css-tabs" checked>

    <ul class="tab-button-container">
        <li class="tab-button"><label for="tab-posts">Posts</label></li>
    </ul>

    <div class="tab-content">
        @if( this.DbAccess.Http.BaseAddress is not null ) {
            <PostsInterface />
        } else {
            <span>Loading...</span>
        }
        @* <GoalEditor OnGoalSelect="async e => {}" /> *@
    </div>
</div>



@code {
    [Inject]
    public ClientDbAccess DbAccess { get; set; } = null!;
    
    [Inject]
    public ClientSessionData SessionData { get; set; } = null!;


    
    protected override void OnInitialized() {
        base.OnInitialized();

        f
    }
}